#why-choose-us{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.why-choose-us-left{
    padding: 50px;
    background-color: #3c8167;
}
.why-choose-us-right{
    background-color: #4c71d0;
    padding: 50px;
}
.why-choose-us-right h3,
.why-choose-us-left h3{
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 3.2rem;
    margin-bottom: 30px;
}
.why-choose-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-gap: 10px;
}

.why-choose-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #4a8a70;
    transition: transform 0.3s ease;
}

.why-choose-box:hover {
    animation: bounceAnimation 1.5s cubic-bezier(0.280, 0.840, 0.420, 1) forwards;
}

@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.why-choose-box i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #25503f;
    margin-right: 10px;
}
.why-choose-box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why-choose-box-text strong{
    color: #ffffff;
    font-weight: 600;
}
.why-choose-box-text p{
    color: #ececec;
    font-size: 0.9rem;
    opacity: 0.7;
}
.why-choose-us-left a{
    background-color: #1a1a1b;
    color: #ffffff;
    padding: 0px 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 200px;
    margin-top: 30px;
    font-size: 0.9rem;
}

.w-right-contact-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.w-right-contact-container > div {
    flex-basis: 50%;
    flex-grow: 1;
}

.w-right-contact-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.w-right-contact-box i{
    width: 50px;
    height: 50px;
    background-color:#4060b3;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.2rem;
    margin-right: 10px;
}
.w-right-contact-box-text{
    display: flex;
    flex-direction: column;
}
.w-right-contact-box-text span{
    color: #e4e4e4;
    font-size: 0.7rem;
}
.w-right-contact-box-text strong{
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;
}