#hero{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-content{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    margin-top: 30px;
}

.hero-img{
    display: flex;
}

.hero-img img{
    width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: contain;
    object-position: center bottom;
}

.hero-text{
   display: flex;
   flex-direction: column;
   margin-top: 0px; 
}

.hero-text h1{
    font-size: 3.2rem;
    color: #065391;
    line-height: 3.6rem;
}

#dynamic-text {
    background-color: #065391;  
    font-size: 2.5rem;
    color: #ffffff;
    padding: 0px 10px; 
    border-radius: 5px; 
}

.hero-text p{
    color: #535353;
    margin: 20px 0px;
    /* max-width: 500px; */
    letter-spacing: 0.3px;
    line-height: 1.8rem;
}

.hero-text-btns{
    display: flex;
    justify-content: flex-start;
}

.hero-text-btns a{
    height: 45px;
    padding: 0px 15px;
    background-color: #065391;
    color: #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.hero-text-btns a:nth-child(2) {
    color: #065391;
    border: 1px solid #065391;
    background-color: #ffffff;
}


@media(max-width: 1340px){
    #hero {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media(max-width: 1300px){
    #hero {
        margin-left: 55px;
        margin-right: 55px;
    }
}

@media(max-width:1050px){  
    #hero {
        margin-left: 50px;
        margin-right: 50px;
    }

    .hero-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
    }
    .hero-text{
        background-color: #ffffff;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: 0px;
    }
}

@media(max-width:620px){
    #hero {
        margin-left: 30px;
        margin-right: 30px;
    }

    .hero-content{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .hero-text{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hero-text h1{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }

    .hero-text-btns{
        flex-direction: column;
    }

    .hero-text-btns a{
        width: 100%;
        margin-top: 5px;
    }

    #dynamic-text { 
        font-size: 1.5rem;
    }
}

@media(max-width:440px){
    #hero {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media(max-width:310px){
    #hero {
        margin-left: 20px;
        margin-right: 20px;
    }

    #dynamic-text { 
        font-size: 1.3rem;
    }
}