#why-choose-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #065391;
}

.container {
    width: 80%;
    max-width: 1200px;
    padding: 30px 0px;
    margin: 0 auto;
}

.why-choose-us-content {
    background-color: #065391;
    padding-top: 0px;
    width: 100%;
}

.why-choose-us-content h2 {
    color: #ffffff;
    font-size: 1.8rem;
    padding-bottom: 20px;
    padding-top: 0px;
}

.why-choose-us-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.why-choose-us-card {
    background-color: #f5f7fb;
    padding: 30px;
    min-height: 250px;
    min-width: 250px; 
    border: 5px solid #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
}

.why-choose-us-card:hover {
    border: 5px solid #c7d0eb;
}

.icon {
    font-size: 24px;
    color: #065391;
    margin-bottom: 10px;
}

.why-choose-us-card h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.why-choose-us-card p {
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    overflow: auto;
}

@media (max-width: 1230px) {
    .why-choose-us-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 992px) {
    .why-choose-us-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .why-choose-us-cards {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }    

    .why-choose-us-card {
        height: auto;
    }
}

@media (max-width: 576px) {
    .why-choose-us-cards {
        grid-template-columns: repeat(1, minmax(250px, 1fr)); 
    }
}
